@using WordCounter.Models;



@model IEnumerable<WordCounter.Models.WordModel>
@{
    ViewBag.Title = "Word Frequency Calculator";
    
    //Layout = null;
    //var dict = (IDictionary<string, int>)ViewData["dict"];
    // dict = dict.OrderByDescending(key => key.Value).ToDictionary(key => key.Key, key => key.Value);
}





<h2>Calculate</h2>








@using (Html.BeginForm("Calculate",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload file:</label>
    <input type="file" name="file" id="file" />
    <br>
    <br>

    <input type="submit" value="Upload File" />

    <br>
    <br>

    @ViewBag.Message
}



<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.word)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wordCount)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.word)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.wordCount)
                </td>
            </tr>

        }
    </tbody>

</table>

@section scripts{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.22/af-2.3.5/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/af-2.3.5/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#datatable").DataTable({
                 " processing": true,
                 " serverSide": true,
                "pageLength": 10
                //pokusaj popravke problema sa velikim podacima...
            }  );
        })
    </script>


}









